<form [formGroup]="carForm">
  <table>
    <thead>
      <tr>
        <th><label for="make-input">MAKE</label></th>
        <th><label for="model-input">MODEL</label></th>
        <th><label for="year-input">YEAR</label></th>
        <th><label for="hue-input">COLOR</label></th>
        <th><label for="price-input">PRICE</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" id="make-input" formControlName="make" /></td>
        <td>
          <input type="text" id="model-input" formControlName="model" />
        </td>
        <td><input type="number" id="year-input" formControlName="year" /></td>
        <td>
          <input type="text" id="hue-input" formControlName="hue" />
        </td>
        <td>
          <input type="number" id="price-input" formControlName="price" />
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="doSubmitCar()">{{ buttonText }}</button>
</form>
