table {
  font-family: sans-serif;
  background: #ddd;
  border-collapse: collapse;
  font-size: 0.7rem;
}
thead {
  border-bottom: 3px solid black;
  background: #333;
  color: white;
}
td,
th {
  min-width: 20px;
  max-width: 100px;
  text-align: left;
  padding: 15px;
}
form input,
form input {
  max-width: 90%;
}

table,
th,
td {
  border: 1px solid black;
}
@media only screen and (min-width: 600px) {
  td, th {
    font-size: 1rem;
    min-width: 100px;
  }
}