td {
    min-width: 20px;
    max-width: 100px;
    text-align: left;
    padding: 15px;
    border: 1px solid black;
  }
  td button {
    margin: 0;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
    width: 100%;
  }
  input {
      max-width: 80px;
  }