table {
  font-family: sans-serif;
  background: #ddd;
  border-collapse: collapse;
}
td,
th {
  min-width: 20px;
  max-width: 120px;
  height: 3rem;
  font-size: 0.7rem;
}
@media only screen and (min-width: 600px) {
  th {
    font-size: 1rem;
    min-width: 100px;
  }
}
table,
th,
td {
  border: 1px solid black;
}
th {
  padding: 0;
  color: white;
}
td {
  padding: 15px;
  text-align: left;
}
tr:nth-child(even) {background: #dedede;}
tr:nth-child(odd) {background: #fff;}
thead tr {background: #333;}
button.sorted-asc, button.sorted-des, button.unsorted {
  display: block;
  border:0 none;
  border-radius: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 0;
  font-size: inherit;
}
button.sorted-asc:hover, button.sorted-asc:focus, button.sorted-des:hover, 
button.sorted-des:focus, button.unsorted:hover, button.unsorted:focus {
  color: yellow;
}
button.sorted-asc, button.sorted-des {
  background: maroon;
  color: yellow;
}
button.sorted-asc:after {
  content: ' ▲'
}
button.sorted-des:after {
  content: ' ▼'
}
button.unsorted {
  background: transparent;
}