<table>
  <thead>
    <tr>
      <th>
        <button [ngClass]="sortColName === 'id' ? getSortClass() : 'unsorted'" type="button" (click)="doSortColumn('id')">ID</button>
      </th>
      <th>
        <button [ngClass]="sortColName === 'make' ? getSortClass() : 'unsorted'" type="button" (click)="doSortColumn('make')">MAKE</button>
      </th>
      <th>
        <button [ngClass]="sortColName === 'model' ? getSortClass() : 'unsorted'" type="button" (click)="doSortColumn('model')">MODEL</button>
      </th>
      <th>
        <button [ngClass]="sortColName === 'year' ? getSortClass() : 'unsorted'" type="button" (click)="doSortColumn('year')">YEAR</button>
      </th>
      <th>
        <button [ngClass]="sortColName === 'color' ? getSortClass() : 'unsorted'" type="button" (click)="doSortColumn('color')">COLOR</button>
      </th>
      <th>
        <button [ngClass]="sortColName === 'price' ? getSortClass() : 'unsorted'" type="button" (click)="doSortColumn('price')">PRICE</button>
      </th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let car of sortedCars">
      <tr class="app-car-row" *ngIf="car.id !== editCarId"
      [car]="car" (editCar)="doEditRow(car.id)" (deleteCar)="doDeleteRow(car.id)"></tr>
      <tr class="app-car-edit-row" *ngIf="car.id === editCarId"
      [car]="car" (saveCar)="saveCar.emit($event)" (cancelCar)="cancelCar.emit()"></tr>
    </ng-container>
  </tbody>
</table>
