<app-tool-header [headerText]="headerText"></app-tool-header>
<ul>
  <li *ngFor="let color of colors" [style.color]="color">
    {{ color }}
  </li>
</ul>
<h2>Add a Color</h2>
<p>
  Valid named colors include: aqua, black, blue, fuchsia, gray, grey, green,
  lime, maroon, navy, olive, purple, red, silver, teal, white and yellow.
</p>
<app-color-form
  buttonText="Add Color"
  (submitColor)="doAddColor($event)"
></app-color-form>
