<td class="car-id">{{ car.id }}</td>
<td>{{ car.make }}</td>
<td>{{ car.model }}</td>
<td>{{ car.year }}</td>
<td [style.color]="car.color">{{ car.color }}</td>
<td class="car-price">{{ car.price | currency }}</td>
<td><button class="edit-button" type="button" (click)="doEditCar(car.id)">&#9998;</button>
    <button class="delete-button" type="button" (click)="doDeleteCar(car.id)">&times;</button>
</td>
