td {
  min-width: 20px;
  max-width: 100px;
  text-align: left;
  padding: 15px;
  border: 1px solid black;
  font-size: 0.7rem;
}
td.car-id {
  text-align: center;
}
td.car-price {
  text-align: right;
}
button.delete-button, button.edit-button {
  margin: 0;
  border-radius: 4px;
  padding: 2px;
  width: 2.5rem;
  height: 2.5rem;
}
@media only screen and (min-width: 600px) {
  td {
    font-size: 1rem;
  }
}