/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
  padding: 10px;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 12px;
  border: 2px solid silver;
  background: maroon;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0 10px 0;
  font-size: 1.1rem;
  cursor: pointer;
}
button:hover,
button:focus {
  color: maroon;
  background: silver;
  border: 2px solid maroon;
}
button:active {
  background: black;
  color: white;
}
