table {
  font-family: sans-serif;
  background: #ddd;
  border-collapse: collapse;
}
thead {
  border-bottom: 3px solid black;
  background: #333;
  color: white;
}
td,
th {
  min-width: 50px;
  max-width: 100px;
  text-align: left;
  padding: 15px;
}
form input,
form input {
  max-width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}
