<app-tool-header [headerText]="headerText"></app-tool-header>
<section>
  <app-car-table
    [sortedCars]="sortedCars"
    [sortAscending]="sortAscending"
    [sortColName]="sortColName"
    [editCarId]="editCarId" 
    (editCar)="doEditCar($event)"
    (sortCol)="doSortColumn($event)"
    (saveCar) = "doReplaceCar($event)"
    (cancelCar) = "doCancelCar()"
    (deleteRow)="doDeleteCar($event)"
  ></app-car-table>

  <h2>Add a Car</h2>
  <app-car-form
    buttonText="Add Car"
    [cars]="cars"
    (submitCar)="doAddCar($event)"
  ></app-car-form>
</section>
